* {
            color: red;
            /* background-color: blueviolet; */
        }

        #internal {
            color: chocolate;
            font-size: 45px;
        }

        .class {
            color: green;
            font-size: 25px;
        }

        /* p {
            background-color: black;
        } */

        .box p {
            background-color: black;
        }

        .box,
        .class,
        #internal {
            background-color: darkturquoise;
        }