.box{
    background-color: black;
    color: white;
    padding: 10px;
    height: 100px;
    width: 100px;
}
.conatiner{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.spinner{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 10px solid black;
    border-top-color: rgb(255, 255, 255);
    /* animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    /* animation-direction: normal; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse;  */
    animation: spin 2s infinite linear;
}

.parent{
    background-color: blueviolet;
    height: 600px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.child{
    height: 50px;
    width: 50px;
    background-color: brown;
    border-radius: 50%;
    animation: drop 2s infinite  alternate;
}

@keyframes drop{
    /* from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(550px);
    } */
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(50px);
    }
    30%{
        transform: translateY(150px);
    }
    50%{
        transform: translateY(250px);
    }
    75%{
        transform: translateY(350px);
    }
    100%{
        transform: translateY(550px);
    }

}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}